[submodule "home/.vim/bundle/pathogen"]
	path = home/.vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "home/.vim/bundle/acp"]
	path = home/.vim/bundle/acp
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/solarized"]
	path = home/.vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
